<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mainak Chhari - Software Engineer</title>
        <meta name="description" content="A brief description of the website." />
        <meta name="keywords"
              content="software architect, mainak chhari, software engineer, technical architecture, technical architect" />
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <link rel="shortcut icon"
              type="image/png"
              href="{% static 'images/favicon.ico' %}">
    </head>
    ...
</html>
